*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: hsl(34, 71%, 49%);
  }
  
  ::selection{
    color: hsl(0, 83%, 38%);
    background: #b4800e;
  }
  .wrapper{
    width: 430px;
    background: #61c70d;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
  }
  .wrapper header{
    color: #eea41c;
    font-size: 27px;
    font-weight: 589;
    text-align: center;
  }
  .wrapper form{
    height: 170px;
    display: flex;
    cursor: pointer;
    margin: 38px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    border: 2px dashed #b85d12;
  }
  form :where(i, p){
    color: #c77e12;
  }
  form i{
    font-size: 60px;
  }
  form p{
    margin-top: 19px;
    font-size: 21px;
  }
  
  section .row{
    margin-bottom: 10px;
    background: #f07d20;
    list-style: none;
    padding: 20px 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  section .row i{
    color: #c0e226;
    font-size: 50px;
  }
  section .details span{
    font-size: 18px;
  }
  .progress-area .row .content{
    width: 90%;
    margin-left: 15px;
  }
  .progress-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    justify-content: space-between;
  }
  .progress-area .content .progress-bar{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #2a80e2;
    border-radius: 30px;
  }
  .content .progress-bar .progress{
    height: 90%;
    width: 0%;
    background: #69f274;
    border-radius: inherit;
  }
  .uploaded-area{
    max-height: 240px;
    overflow-y: scroll;
  }
  .uploaded-area.onprogress{
    max-height: 158px;
  }
  .uploaded-area::-webkit-scrollbar{
    width: 0px;
  }
  .uploaded-area .row .content{
    display: flex;
    align-items: center;
  }
  .uploaded-area .row .details{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
  }
  .uploaded-area .row .details .size{
    color: #961d1d;
    font-size: 17px;
  }
  .uploaded-area i.fa-check{
    font-size: 21px;
  }